<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>consultoriamj.com</title>
        <link rel="icon" href="img/logo-small.png" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
<body>
    
    <section id="main-menu">
    	<div class="container">
           <div class="row">
               <div class="col-sm-2">
                  <img src="img/logo.png" id="logo-img">
               </div>
               <div class="col-sm-10">
                  <ul id="menu-list">
                      <li id="menu-list-name"><a href="login.html">Login/Singup</a></li>
                  	  <li id="menu-list-name"><a class="active-page" href="blog.html">BLOG</a></li>
                  	  <li id="menu-list-name"><a href="client.html">CLIENTES</a></li>
                  	  <li id="menu-list-name"><a href="sobre.html">SOBRE</a></li>
                  	  <li id="menu-list-name"><a href="servicos.html">SERVIÇOS</a></li>
                      <li id="menu-list-name"><a href="index.html">HOME</a></li>
                  </ul>
               </div>
           </div>
    	</div>
    </section><!--       Main Menu     -->

    <section id="mobile-menu">
        <div id="mobile-menu-button-box">
             <span id="mobile-menu-logo"><img src="img/logo.png" id="logo-img"></span>
             <span id="mobile-menu-button"><i class="fa fa-bars side-menu-bar"></i></span>
        </div>
    	<ul id="mobile-menu-list">
            <a href="index.html"><li id="mobile-menu-list-name">HOME</li></a>
            <a href="servicos.html"><li id="mobile-menu-list-name">SERVIÇOS</li></a>
            <a href="sobre.html"><li id="mobile-menu-list-name">SOBRE</li></a>
            <a href="client.html"><li id="mobile-menu-list-name">CLIENTES</li></a>
            <a href="blog.html"><li id="mobile-menu-list-name" class="active-page">BLOG</li></a>
            <a href="login.html"><li id="mobile-menu-list-name">Login/Singup</li></a>
        </ul>
    </section><!--       Mobile Menu     -->

    <section id="page-section">
    	<div class="container">
    	  <div class="row">
    	  	 <div class="col-sm-12">
            <div class="col-sm-6">
    	  	   <p id="page-title-name">BLOG</p>
            </div> 
            <div class="col-sm-6" id="page-site-link">
             <p><span id="home-page-link"><a href="index.html">Início</a></span><span id="page-bar">/</span><span id="same-page-link">SERVIÇOS</span></p>
            </div> 
    	  	</div>  
    	  </div>
    	</div>
    </section><!--       row Section     -->

    <section id="page-article">
      <div class="container" id="page-article-width">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-8" id="main-col-section">
              <div id="blog-posts">
                  <p id="blog-posts-title"><a href="blog.html">BLOG</a></p>
              </div><!--      post blog section    -->
              <div id="comment-section">
                  <p id="comment-number">Comentário (1)</p>
              </div><!--     all-comment-total-number     -->
              <div id="all-comment-box" class="col-xs-12">
                <div id="blog-comment-post" class="col-xs-12">
                  <div class="col-xs-1">
                     <img src="img/comment-user.png" id="comment-user-img">
                  </div>
                  <div class="col-xs-11 col-md-11" id="main-comment-box">
                    <div id="name-date-box">
                       <span id="comment-person-name">consultoriamj</span> 
                       <span id="comment-date">junho 21, 2018</span>
                    </div>   
                     <p id="main-comment">This is the best blog i ever read</p>
                     <p id="comment-reply">Responder</p>
                  </div>
                </div> <!-- main-comment-box --> 
              </div><!--     all-the-comment-here     -->
              <div class="col-xs-12" id="comment-fild-box"> 
                 <p id="comment-box-title">Deixe uma resposta para <span id="comment-tet-blue">consultoriamj Cancelar resposta</span></p>
                 <p id="comment-box-subtitle">O seu endereço de e-mail não será publicado. Campos obrigatórios são marcados com *</p>
                 <textarea class="form-control" rows="5" placeholder="Message" id="big-comment-box"></textarea>
                 <div class="col-md-6" id="comment-name-box">
                   <input type="" name="" placeholder="Name">
                 </div>
                 <div class="col-md-6" id="comment-email-box">
                   <input type="" name=""  placeholder="Email">
                 </div>
                 <button id="comment-submit-button">Enviar mensagem</button>
              </div><!--     comment-post-box     -->  
            </div>
            <div class="col-sm-4" id="categorias-boxes">
              <p id="categorias-title">Categorias</p>
              <ul id="categorias-list">
                 <li><i class="far fa-hand-point-right"></i><a href="category.html" id="categorias-name">Notícias</a></li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
    </section>


    <section id="footer-section">
      <div class="container">
           <div class="row">
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title">ABOUT US</p>
                 <div id="footer-text-box">
                   <i class="fa fa-map"></i>
                   <span>Florianópolis - SC - Braisl</span>
                 </div>
                  <div id="footer-text-box">
                   <i class="fa fa-envelope"></i>
                   <span>consultoriamj.com.br</span>
                 </div>
                  <div id="footer-text-box">
                   <i class="fa fa-phone"></i>
                   <span>(48) 99914-1275</span>
                 </div>
              </div>
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title" class="link-title">LINKS</p>
                 <ul id="footer-list">
                    <li><i class="fa fa-chevron-right"></i><span>HOME</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>SERVIÇOS</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>SOBRE</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>CLIENTES</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>BLOG</span></li>
                 </ul>
              </div>
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title">Social Media</p>
                 <ul id="footer-social-list">
                    <li><a><i class="fab fa-behance"></i></a></li>
                    <li><a><i class="fab fa-facebook-f"></i></a></li>
                    <li><a><i class="fab fa-twitter"></i></a></li>
                 </ul>
              </div>
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title">NEWSLETTER</p>
                 <p id="footer-row-des">Subscribe Our Newsletter get the Important News.</p>
                 
              </div>
           </div>
      </div>
     </section>

     <section id="compnay-name">
         <p>© Copyright - 2018  MJ</p>
    </section><!-- Footer section -->

</body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/main.js"></script>
</html>